<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="false">	
	<listeners>
    <!--listener class-name="com.test.testnglistener.AutoTestListener" /-->
    <listener class-name="com.test.testnglistener.TestngExtentReportListener" />    
  	</listeners>
  
  <test name="Test">
  	<parameter name="excelPath" value="E:\git_hub\Auto_test\autotest\src\main\resources\api-data.xls"></parameter>
	<parameter name="sheetName" value="Sheet1"></parameter>
   
    <classes>
      <!-- class name="com.test.dataprovider.DataProvider"/-->
      
      <!--class name="com.test.testcase.TestCase"/-->      	
      <class name="com.test.testcase.TestCase2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
